.Rproj.user
.Rhistory
.RData
.Ruserdata
masr.tex
/.quarto/
.DS_Store
_book/
_book2/
old/
rsconnect/

*.log
*-tikzDictionary
*.aux
*_files/

code/poisson_log_glm
code/bernoulli_logit_glm_normal
code/bernoulli_logit_glm_lasso
code/bernoulli_logit_glm_horseshoe
code/gaussian_process_simu
code/gaussian_process_fitted
code/gaussian_process_pred
code/multi_normal_simu
code/multi_normal_fitted
code/rongelap_poisson_pred
code/rongelap_poisson_processes
code/faithful_finite_mixtures
code/faithful_2d_finite_mixtures
code/eight_schools
code/rats
code/stochastic_volatility_models
code/state_x77
